.app__header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    background-color: var(--color-black);
    padding: 0 2rem;
    height: 100vh;
}

.app__header-info {
    max-width: 50%; 
}

.app__header h1 {
    font-family: var(--font-base);
    color: var(--color-golden);
    letter-spacing: 0.04em;
    text-transform: uppercase;
    line-height: 117px;
    font-size: 90px;
}

.app__header-img{
    max-width: 40%;
}

.app__header-img img {
    width: 80%;
}
